@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html{
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
a{
	text-decoration: none;
}
.container{
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p{
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: .05rem;

}
.section-title{
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
}
.section-title span{
	color: crimson;
}

.cta{
	display: inline-block;
	padding: 10px 30px;
	color: crimson;
	background-color: transparent;
	border: 2px solid #DC143C;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	margin-top: 30px;
	transition: .3s ease;
	transition-property: background-color, color:
}
.cta:hover{
	color: white;
	background-color: crimson;
}
.brand h1{
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
.brand h1 span{
	color: crimson;
}
/* Header */
#header{
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header{
	min-height: 8vh;
	background-color: rgba(31,30,30,0.24);
}
#header .nav-bar{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul{
	list-style: none;
	position: absolute;
	background-color: rgba(0,0,0,1.00);
	width: 100vw;
	height: 100vh;
	left: 100;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: .5s ease left;
}
#header .nav-list ul.active{
	left: 0;
}
#header .nav-list ul a{
   font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: .2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after{
	content: attr(data-after);
	position: absolute;
	top:50%;
	left: 50;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240,248,255,0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: .3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after{
	transform:  translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a{
	color: crimson;
}
#header .hamburger{
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid #FFFFFF;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(.8);
	margin-right: 20px;
}
#header .hamburger:after{
	position: absolute;
	content: '';
	height: 100%;
	width: 100;
	border-radius: 50%;
	border: 3px solid #FFFFFF;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar{
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before{
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: .3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after{
	top: 8px;
}
#header .hamburger .bar::before{
	bottom: 8px;
}
#header .hamburger.active .bar::before{
	bottom: 0;
}
#header .hamburger.active .bar::after{
	top: 0;
}

/* End Header */

/* Hero section */
#hero{
	background-image: url("../photo_6053353450336531101_y.jpg");
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#hero::after{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: .7;
	z-index: -1;
}
#hero .hero{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#hero h1{
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: white;
}

/*End hero section*/

/*Biography section*/
#biographyy .biographyy{
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}


#biographyy .biography-bottom{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}
#biographyy .biography-item{
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	background-image: url("../Grey-bio.jpg");
	background-size: cover;
	margin: 10px 5px;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
#biographyy .biography-item::after{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: .8;
	z-index: -1;
}
#biographyy .biography-bottom .icon{
	height: 80px;
	width: 80px;
	margin-bottom: 20px;
}
#biographyy .biography-item h2{
	font-size: 2rem;
	color: white;
	margin-bottom: 10px;
	text-transform: uppercase;
}
#biographyy .biography-item p{
	color: white;
	text-align: left;
}

/*End Biography section*/

/*Resume section*/
#resumes .resumes{
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}
#resumes .resumes-header h1{
	margin-bottom: 50px;
}
#resumes .all-resumes{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#resumes .resume-item{
	display: flex;
	align-items:center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}
#resumes .resume-info{
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: url("../../syasya/bg.png")
	
}
#resumes .resume-info h1{
	font-size: 4rem;
	font-weight: 500;
}
#resumes .resume-info h2{
	font-size: 1.8rem;
	font-weight: 500;
	margin-top: 10px;
}
#resumes .resume-info p{
	color: black;
}
/*
#resumes .resume-tableimg{
	padding: 50px;
	flex-basis: 100px;
	height: 300%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	
}
*/
/*End resume section*/
/*Timetable section*/
#timetables .timetables{

	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}
#timetables .timetables-header h1{
	margin-bottom: 50px;
}
#timetables .all-timetables{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#timetables .timetable-item{
	display: flex;
	align-items:center;
	justify-content: center;
	flex-direction: column;
	width: 50%;
	margin: 20px auto;
	
	border-radius: 100px;
}
#timetables .timetable-info{
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	
	justify-content: center;
	flex-direction:column;
	/*background-image: url("../../syasya/bg.png")*/
	
}
table {
    margin-top: 2%;
    width: max-content;
    border: 1px solid black;
    height: 300px;
    margin-left: 23%;
}
 
td {
    text-align: center;
    border: 1px solid black;
}

 
.blank {
    color: #000;
    background-color: #fff;
}
 
.s {
    font-weight: 800;
    text-transform: uppercase;
    font-family: sans-serif;
    background-color: #ffffff;
}
 
.seminar {
    font-weight: 800;
    font-family: sans-serif;
    background-color: #ffffff;
    text-transform: uppercase;
}
 
.sub {
    color: black;
    font-family: sans-serif;
    font-weight: 400;
    background-color: #ffffff;
}
 
.sub1{
    background-color: #fff;
}
 
.sub2 {
    color:brown;
    text-transform: uppercase;
    background-color: #ffffff;
	font-weight: 800;
}
 
.sub3 {
    background-color: #ffffff;
    font-family: sans-serif;
    font-weight: 800;
}
 
.box1 {
    color: cornflowerblue;
    font-family: sans-serif;
    font-weight: 800;
}
 
.box2 {
    color: darkorange;
    font-weight: 800;
    font-family: sans-serif;
}
 
.box3 {
    color: darkviolet;
    font-weight: 800;
    font-family: sans-serif;
}
 
.box4 {
    color: green;
    font-weight: 800;
    font-family: sans-serif;
}
 
.box5 {
    color: red;
    font-family: sans-serif;
    font-weight: 800;
}
 
.box6 {
    color: hotpink;
    font-weight: 800;
    font-family: sans-serif;
}
 
.box7 {
    color: blue;
    font-family: sans-serif;
    font-weight: 800;
}
/*POP UP*/
.level_one {
  padding-left: 10px;
 }
 
 .level_two {
  padding-left: 20px;
 }
 
 .content {
  padding-left: 30px;
}
.course{
	text-align: center;
    color: black;
    font-weight: bold;
    font-family: sans-serif;
}



/*End timetable section*/

/*Galleries section*/
#galleries .galleries{
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}
#galleries .galleries-header h1{
	margin-bottom: 50px;
}
#galleries .all-galleries{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#galleries .galleries-item{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}
#galleries .gallery-info{
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, #29323c, #485563 100%);
	color: white;
}
#galleries .gallery-info h1{
	font-size: 4rem;
	font-weight: 500;

}
#galleries .gallery-info h2{
	font-size: 1.8rem;
	font-weight: 500;
	margin-top: 10px;
}
#galleries .gallery-info p{
	color: white;
}
#galleries .gallery-img{
	flex-basis: 50%;
	height: 300px;
	overflow: hidden;
	position: relative;
}
#galleries .gallery-img:after{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: .2;
}
#galleries .gallery-img img{
	transition: .3s ease transform; 
}
#galleries .galleries-item:hover .gallery-img img{
	transform: scale(1.1);
}
/*End Galleries section*/

/*Download section*/
#downloads .downloads{
	flex-direction: column;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
}
#downloads .downloads-header h2{
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: .2rem;
	margin-bottom: 10px;
}
#downloads .downloads-header .cta{
	color:black;
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 2rem;
}
/*End Download section*/

/*Link section*/
#links .links{
	flex-direction: column;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
}
#links .links-header h2{
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: .2rem;
	margin-bottom: 10px;
}

/*End link section*/

/*footer section*/
#footer{
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer{
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h2{
	color: white;
	font-weight: 500;
	font-size: 1.8 rem;
	letter-spacing: .1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon{
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item{
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img{
	filter: grayscale(1);
	transition: .3s ease filter;
}
#footer .social-item:hover img{
	filter: grayscale(0);
}
#footer p{
	color: white;
	font-size: 1.3rem;
}
/*End footer section*/

@keyframes hamburger_puls{
	0%{
		opacity: 1;
		transform: scale(1);
	}
	100%{
		opacity: 0;
		transform: scale(1.3);
	}
}
/*header*/
#header .hamburger{
	display: none;
}
#header .nav-list ul{
	position: initial;
	display: block;
	height: auto;
	width: fit-content;
	background-color: transparent;
}
#header .nav-list ul li{
	display: inline-block;
}
#header .nav-list ul li a{
	font-size: 1.5rem;
}
#header .nav-list ul a:after{
	display: none;
}

/*end header*/
